rules_version = '2';

service cloud.firestore {match /databases/{database}/documents {
    // By default, deny all access.
    // We will add specific rules for authenticated users later.
    // Our server-side admin SDK will bypass these rules.
    match /{document=**} {
        allow read, write: if false;
    }
}}